<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_user">
<head>
<title>.:: ad-extreme ::. - Anunciantes</title>
<script th:src="@{/js/anunciantes.js}"></script>
</head>
<th:block layout:fragment="conteudo">
	<div class="col-md-offset-2 col-md-8">
		<h1>Todos os Anunciantes</h1>
		<!-- Text input-->
		<div style="text-align: center;">
			<table style="width: 80%" class="table table-bordered">
				<tr style="text-align: center">
					<th style="width: 15%;">Anunciante</th>
					<th style="width: 20%;">Contato</th>
					<!-- <th style="text-align: center">Anuncios</th> -->
					<th style="width: 5%;"></th>
				</tr>

				<tr id="anunciante">
					<!-- <td>sem nome</td>
					<td>sem email</td>
					<td>sem anuncios</td>
					<td>&#10008;</td> -->
				</tr>

			</table>
		</div>
	</div>
</th:block>
</html>