<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_user">
<head>
<title>.:: ad-extreme ::. - pesquisar anuncios</title>
</head>
<th:block layout:fragment="conteudo">

	<div class="col-md-offset-2 col-md-8">
		<h1>Pesquisar Anúncios</h1>
		
		<form>
			<div class="col-md-4"> Nome: <input id="nome" type="text" placeholder="Nome" class="form-control input-md"/> </div>
			<div>Tipo:	Imóvel <input type="radio" name="role" id="imovel"/>
						Móvel <input type="radio" name="role" id="movel"/>
						Serviço <input type="radio" name="role" id="servico"/>
						Emprego <input type="radio" name="role" id="emprego"/>
			</div>
						
			<div> Data: <input id="data" type="date" /> </div>
			
			<div><input type="submit" value="Submit" /></div>
		</form>

	</div>

</th:block>
</html>