<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_company">
<head>
<title>.:: ad-extreme ::. - company [pesquisar anúncio ]</title>
</head>
<th:block layout:fragment="conteudo">
	<div class="col-md-offset-2 col-md-8">
		<legend>
			<h1>Pesquisar Anúncios</h1>
		</legend>
	</div>
	<div class="col-md-offset-2 col-md-8">
		<form class="form-horizontal" method="post">
			<fieldset>
				<div class="form-group">
					<label class="col-md-4 control-label">Nome</label>
					<div class="col-md-4">
						<input id="nome" name="nome" type="text" placeholder="Nome"
							class="form-control input-md" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Tipo</label>
					<div class="col-md-4">
						<label class="radio-inline"> <input type="checkbox"
							name="role" id="movel" /> Móvel
						</label> <label class="radio-inline"> <input type="checkbox"
							name="role" id="imovel" /> Imóvel
						</label> <label class="radio-inline"> <input type="checkbox"
							name="role" id="servico" /> Serviço
						</label> <label class="radio-inline"> <input type="checkbox"
							name="role" id="emprego" /> Emprego
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Data</label>
					<div class="col-md-4">
						<div class='input-group date'>
							<input type='date' id='date' class="form-control" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button id="pesquisar" class="btn btn-success" type="button"
							onclick="searchAd()">Pesquisar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="col-md-offset-2 col-md-8">
		<h2>Resultados</h2>
		<table style="width: 100%" class="table table-bordered" id="results">
		</table>
	</div>

</th:block>
</html>